# Virtual environment
venv/
django_venv/
env/

# Bytecode
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# The introduction to Django folder
Introduction_to_Django/
django-models/
advanced_features_and_security/