<!-- bookshelf/templates/bookshelf/form_example.html -->
{% extends "base.html" %}
{% block content %}
  <h2>Example Form</h2>
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }} {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div>
      {{ form.author.label_tag }} {{ form.author }}
      {{ form.author.errors }}
    </div>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
